{%extends 'all-awards/base.html'%}
{% load bootstrap3 %}
{% block content %} 
{{ block.super}}
{%load static%}
{% load ratings %}
<!DOCTYPE html>
<html>
<title>Awards</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="static 'css/styles.css'">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<body class="w3-light-grey w3-content" style="max-width:1600px">
            {% for project in projects %}
        <div class="w3-third w3-container w3-margin-bottom ">
           <div class="row"> 
                    <a href="{%url 'project'}"><img src="{{project.project_image.url}}" alt="image" width="100%" height="100%" class="w3-hover-opacity"title="Click to view more details"></a>
                    <div class="w3-container w3-white w3-card">
                        <p>Project Title: {{project.project_title}}</p>
                        <p>Description: {{project.description}}</p>
                        <button class="btn btn-inf"><a href="{{project.link}}" >View site</a></button>
                        <p> User : {{project.user}}</p>
                        <div class="w3-center "></div>
                        <p>{% ratings project %} </p>
                    </div>
                </div>
            </div>
            {%endfor%}            
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</body>
</html>
{% endblock %}