{%extends 'all-awards/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through awards   -->
  {% for awards_item in awards %}

  <div class="row">
    <!-- displaying awards projects -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ awards_item.title }} </h2>
    </div>

  </div>
    <!--Display news project images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{awards_item.project_image_.url}}" class="img-responsive" alt="Image">
      </div>
  
  {% empty %}
  <div class="row">
    <h2 class="text-center">There No awwards</h2>
  </div>
  {% endfor %}

</div>
{% endblock %}